/*Main site style*/
/* light and dark mode implementation */

:root {
  --bg-color: #ede7de;
  --text-color: #025a4e;
  --blob-yellow: #73bba3;
  --blob-green: #b4e380;
  --blob-red: #88d66c;
  /* --clock-bars-color-1: #f1c174;
  --clock-bars-color-2: #389878; */
  --clock-bars-color-1: rgba(56, 152, 120, 1);
  --clock-bars-color-2: rgba(56, 152, 120, 0.3);
  --clock-indicator-color: rgba(241, 193, 116, 1);
  --cursor-hover-bg: #e9e92b;
  --div-hover-color: #6fb18a;
}

body.dark-mode {
  --bg-color: #233831;
  --text-color: #8fdcc2;
  --blob-yellow: #059212;
  --blob-green: #365e32;
  --blob-red: #0a6847;
  /* --clock-bars-color-1: #f1c174;
  --clock-bars-color-2: #389878; */
  --clock-bars-color-1: rgba(241, 193, 116, 0.3);
  --clock-bars-color-2: rgba(241, 193, 116, 1);
  --clock-indicator-color: rgba(56, 152, 120, 1);
  --cursor-hover-bg: #8fdcc2;
}

/* @font-face {                                                       */
/*  font-family: "GetaiGroteskDisplay";    Choose a name for the font */
/*  src: url("../fonts/GetaiGrotesk/DTGetaiGroteskDisplay-Black.otf") */
/*      format("opentype"),                                           */
/*    url("../fonts/GetaiGrotesk/DTGetaiGroteskDisplay-Black.ttf")    */
/*      format("truetype"); Adjust the path to your font file         */
/*  font-weight: normal; Optional: Set the font weight                */
/*  font-style: normal; Optional: Set the font style                  */
/* }                                                                  */

@font-face {
  font-family: "Kola";
  src: url("../fonts/Kola_Complete/Fonts/OTF/Kola-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AveriaSerifLibre";
  src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "AveriaSerifLibre", sans-serif;
  /* font-family: Arial, sans-serif; */
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  position: relative;
}

::selection {
  background-color: #ffcc00; /* The background color for the text highlight */
  color: #000000; /* The text color when highlighted */
}

/* to add a  grainy effect */
/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: #8c8c8c;
  opacity: 0.4;
  filter: url(#noiseFilter);
} */

/* main nav bar */

header {
  position: sticky;
  top: 20px;
  width: 100%;
  z-index: 11;
  display: flex;
  justify-content: center;
}

.navbar {
  background: transparent;
  padding: 10px 20px;
  transition: all 0.9s ease;
  width: 60%;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.navbar.scrolled {
  backdrop-filter: blur(10px);
  /* background: rgba(255, 255, 255, 0.2); Adjust opacity to your liking */
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Rounded corners */
}

.my-name {
  font-family: "Kola", sans-serif;
  font-size: 90px;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Sets the height of the container to the full viewport height */
  text-align: center; /* Ensures the text is centered within the block-level elements */
  flex-direction: column; /* Stacks the paragraphs vertically */
}

.my-name p {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

.my-name p + p {
  margin-top: 10px; /* Adjust this value to control the space between the two paragraphs */
}

.container-div {
  position: relative;
  margin: 60px;
  padding: 60px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  z-index: 10;
}

/* div with glass effects */
.glass {
  position: relative;
  margin: 60px;
  padding: 60px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(
    10px
  ); /*The same as backdrop-filter, but with a prefix for compatibility with WebKit browsers like Safari.*/
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  z-index: 10;
}

/* cursor hover effect - circle following the pointer */
/* cursor hover effect on horizontal clock implemented separately in css, js named after it */
.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--cursor-hover-bg);
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
}

/* cursor hover effect - enlarge */
/* add hover-me to any other div where we to make cursor bigger when hovered over */
.cursor-hover {
  transform: scale(4.5);
}
